body {
    background-color: black;
}

h1 {
    color: orange;
    text-align: center;
}

h2 {
    color: rgb(233, 146, 233);
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

.colLiz {
    color: white;
    padding: 20px;
    border: 2px solid orange;

}

.col-md-auto {
    color: white;
    padding: 20px;
    border: 2px solid orange;
}

#picture img {
    width: 100%;
    height: auto;
    display: block;
    border: 2px solid white;
    border-radius: 15px;
    margin: 10px;
}